@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgba(150, 58, 236, 0.715);
    height: 100vh;
    width: 100vw;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#login {
    background-color: azure;
    width: 60vw;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.756);
    transition: width .3s, height .3s;
}
#imagem {
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(150, 58, 236, 0.715);
    background-image: url(imagens/gatas01.jpg);
    height: 200px;
    background-size: cover;
    display: block;
    
}

#formulario {
    padding: 10px;
    display: block;
}

.campo {
    background-color: rgba(108, 41, 171, 0.841);
    display: block;
    border-radius: 7px;
    width: 100%;
    padding: 7px; 
    text-align: left;
    margin: 5px 0px;
    height: 40px;
    padding-right: 0px;
}

.campo > input {
    height: 36px;
    margin: 5px 0px 0px 0px;
    padding-left: 2px;
    width: calc(100% - 30px);
    border-radius: 5px;
    border: none;
    transform: translateY(-9.9px);
}

.escrever {
    border-radius: 5px;
    border: 0px;
    height: 30px;
    padding: 0px;
}

p {
    text-align: left;
    font-size: .8em;
}

.material-symbols-outlined {
    color: azure;
}

#enviar {
    background-color: rgb(4, 160, 95);
    color: antiquewhite;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 0px;
}

#enviar:hover {
    background-color: rgb(2, 96, 57);
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.botão {
    width: 100%;
    text-align: center;
    display: block;
    border: 1px solid rgb(2, 96, 57);
    border-radius: 5px;
    height: 40px;
    padding-top: 9px;
    margin-top: 5px;
}

.botão:hover {
    background-color: rgb(22, 235, 146);
}